@model ZeroKWeb.Controllers.MapsController.MapDetailData
@using ZkData;
@{
    Page.Title = Model.Resource.InternalName;
    var m = Model.Resource;
    var size = m.ScaledImageSize(200);
    var planet = m.Planets.FirstOrDefault(x => x.Galaxy.IsDefault);
    var authors = string.IsNullOrEmpty(m.AuthorName) ? "Unknown" : m.AuthorName;
    // TODO: parse author string and create clickable player names for authors
}
<script>
    var aspectRatio = @m.MapSizeRatio;
    $(document).ready(function () {
        $(".heightmap").hide();
        $(".texture").click(function () {
            $(".heightmap").show();
            $(this).hide();
        });
        $(".heightmap").click(function () {
            $(".texture").show();
            $(this).hide();
        });
    });
</script>

<div class="page-summary">
    <div class="map-actions">
        <a class="map-action back" href="@Url.Action("Index")">
            <i class="fa fa-share fa-flip-horizontal"></i><span class="full-text">Back to List</span>
        </a>
        <a class="map-action playnow" href="@Html.PrintSpringLink("chat/battle@select_map:"+ m.ResourceID)">
            <i class="fa fa-share"></i><span class="full-text">Play Now</span>
        </a>
    </div>
    <div class="map-info">
        <b class="center">@m.InternalName</b>
        @if (!string.IsNullOrEmpty(m.AuthorName))
        {
            <b class="center">by @authors</b>
        }

        @*<span class="popularity">
            <i class="fa fa-download"></i><span class="full-text">Downloads:</span> @m.DownloadCount
        </span>*@
    </div>
</div>
<div id="mapdetail" class="content">
    <div class="map-actions">
        <a class="map-action back" href="@Url.Action("Index")">
            <i class="fa fa-share fa-flip-horizontal"></i><span class="full-text">Back to List</span>
        </a>
        <a class="map-action playnow" href="@Html.PrintSpringLink("chat/battle@select_map:"+ m.ResourceID)">
            <i class="fa fa-share"></i><span class="full-text">Play Now</span>
        </a>
    </div>
    <h1>@m.InternalName</h1>
    <div class="author">
        By @authors
    </div>
    <div id="summarytransition"></div>

    <div class="tags">
        @{Html.RenderPartial("MapTags", m);}
    </div>

    <div id="map-preview">
        <div class="texture">
            <img src='/Resources/@(m.MinimapName)' />
        </div>
        <div class="heightmap">
            <img src='/Resources/@(m.HeightmapName)' />
        </div>
    </div>

    @if (Model.MapInfo != null)
    {
        <div>Description: @Model.MapInfo.Description</div>
    }

    @if (ZeroKWeb.Global.IsModerator)
    {
        <div class="admin content">
            <h2 class="toggle" onclick="ToggleExtra('map-tags')">Set Map Tags</h2>
            <div id="map-tags" class="hidden">
                @if (m.TaggedByAccountID != null)
                {
                    @: - Last tagged by @m.Account.Name
                }
                <form action="@Url.Action("Tag", new { id = m.ResourceID })" method="post">
                    @Html.AntiForgeryToken()
                    <table>
                        <tr>
                            <td>Terrain:</td>
                            <td>@Html.Select("sea", typeof(Resource.WaterLevel), m.MapWaterLevel, "?")</td>
                        </tr>
                        <tr>
                            <td>Hills:</td>
                            <td>@Html.Select("hills", typeof(Resource.Hill), m.MapHills, "?")</td>
                        </tr>
                        <tr>
                            <td>Asymmetrical:</td>
                            <td>@Html.BoolSelect("assymetrical", m.MapIsAssymetrical, "?")</td>
                        </tr>
                        <tr>
                            <td title='Maps with special features, speedmetal, duck, greenfields etc.'>Special:</td>
                            <td>@Html.BoolSelect("special", m.MapIsSpecial, "?")</td>
                        </tr>
                        <tr>
                            <td title='Is the map good for 1v1?'>1v1:</td>
                            <td>@Html.BoolSelect("is1v1", m.MapIs1v1, "?")</td>
                        </tr>
                        <tr>
                            <td title='Is the map good for teams'>Teams:</td>
                            <td>@Html.BoolSelect("isTeams", m.MapIsTeams, "?")</td>
                        </tr>
                        <tr>
                            <td title='Is the map good for chickens?'>Chickens:</td>
                            <td>@Html.BoolSelect("chickens", m.MapIsChickens, "?")</td>
                        </tr>
                        <tr>
                            <td title='Is the map good for FFA?'>FFA:</td>
                            <td>@Html.BoolSelect("ffa", m.MapIsFfa, "?")</td>
                        </tr>
                        <tr><td>Max FFA team count</td><td>@Html.TextBox("ffaTeams", m.MapFFAMaxTeams)</td></tr>
                        <tr>
                            <td>Author:</td>
                            <td>@Html.TextBox("author", m.AuthorName)</td>
                        </tr>
                        @if (ZeroKWeb.Global.IsModerator)
                        {
                            <tr>
                                <td>Support level:</td>
                                <td>
                                    @Html.DropDownList("mapSupportLevel", EnumHelper.GetSelectList(typeof(MapSupportLevel), m.MapSupportLevel))
                                </td>
                            </tr>
                            <tr>
                                <td>Planetwars image:</td>
                                <td valign="middle">
                                    <img src='/img/planetwars/planets/@Model.Resource.MapPlanetWarsIcon' width='@Model.Resource.PlanetWarsIconSize' />
                                    @Html.ActionLink("pick new", "PlanetImageSelect", new { resourceID = Model.Resource.ResourceID })
                                </td>
                            </tr>
                        }
                    </table>
                    <input type="submit" value="Update" />
                </form>
            </div>
        </div>
    }

    @if (planet != null)
    {
        <h2>Planet @Html.PrintPlanet(planet)</h2>
    }

    @if (!ZeroKWeb.Global.IsLobbyAccess)
    {
        <div style="font-size: small">
            @if (m.ResourceContentFiles.Where(x => x.LinkCount > 0).Any())
            {
                <text>Manual downloads:</text><br />
                foreach (var l in m.ResourceContentFiles.Where(x => x.LinkCount > 0).Select(x => x.Links).SelectMany(x => x.Split('\n')).Shuffle())
                {
                    <a href='@l'>@l</a><br />
                }
            }
            else
            {
                <font color="#FF0000"><b>WARNING, THIS MAP IS NOT AND WILL NOT BE DOWNLOADABLE.</b></font><br />
            }
        </div>
    }

    @if (Model.Resource.SpringBattlesByMapResourceID.Any())
    {
        <div class="border">
            <h3>@Html.ActionLink("Last battles", "Index", "Battles")</h3>
            @foreach (var b in Model.Resource.SpringBattlesByMapResourceID.OrderByDescending(x => x.SpringBattleID).Take(10))
            {
                <small>@Html.PrintBattle(b)</small><br />
            }
        </div>
    }

    @{Html.RenderPartial("CommentList", new ZeroKWeb.Models.CommentList() { Thread = Model.Resource.ForumThread, ActionData = new { resourceID = m.ResourceID, threadID = m.ForumThreadID } });}

</div>

@*<table>
        <tr>
            <td>Rating:</td>
            <td valign="middle">
                <div class="ratings">
                    <div class="rating_all">
                        @Html.Stars(StarType.GreenStarSmall, m.MapRating)
                    </div>
                    <div id='rating' class="rating_yours">
                        @Html.Select("rating", new List<SelectOption>()
                             {
                                 new SelectOption() { Value = "1", Name = "Poor" },
                                 new SelectOption() { Value = "2", Name = "Below average" },
                                 new SelectOption() { Value = "3", Name = "Average" },
                                 new SelectOption() { Value = "4", Name = "Good" },
                                 new SelectOption() { Value = "5", Name = "Awesome" }
                             },
                   Model.MyRating.Rating.ToString())
                    </div>
                </div>
            </td>
        </tr>
    </table>*@
