@model ZeroKWeb.Controllers.BattlesController.BattleSearchModel

@{
	Layout = "";
}
<style>
    .mission {
        background: rgba(0,0,0,0.5);
        color: white;
        padding: 1em;
    }
    .mission h3, .duration {
        margin-bottom: 0.5em;
    }
    .players, .place, .duration {
        display: inline-block;
    }
    .place:before {
        content: "on ";
    }
    /*.duration:before {
        content: "(";
    }
    .duration:after {
        content: ")";
    }*/
    .mission img {
        margin-right: 1em;
        float: left;
    }
</style>
@foreach (var m in Model.Data) {
    var playercount = m.Players.Count(p => !p.IsSpectator);
    var spectatorcount = m.Players.Count(p => p.IsSpectator);
    string botsInvolved = m.Battle.HasBots ? " +<i class='fa fa-microchip'></i> " : "";
    string playerversus = m.Battle.Teams + botsInvolved;
    if (spectatorcount > 0) { playerversus += $" (<i class='fa fa-binoculars'></i> {spectatorcount})"; }
    string hourglass = "fa-hourglass-start";
    if (m.Battle.Duration > 15 * 60) { hourglass = "fa-hourglass-1"; }
    if (m.Battle.Duration > 30 * 60) { hourglass = "fa-hourglass-2"; }
    if (m.Battle.Duration > 45 * 60) { hourglass = "fa-hourglass-3"; }

	<a href='@Url.Action("Detail", new { id = m.Battle.SpringBattleID })'>
        <div class="mission">
            <img src='/Resources/@m.Map.ThumbnailName' />
            <h3>@m.Battle.Title</h3>

            <div class="players">@Html.Raw(playerversus)</div>
            <div class="place">@m.Map.InternalName</div>
            <div class="duration"><i class='fa @hourglass'></i> @TimeSpan.FromSeconds(m.Battle.Duration).ToReadableTime()</div>

            <div class="time">@m.Battle.StartTime - @((DateTime.UtcNow - m.Battle.StartTime).ToAgoString())</div>
            <br style="clear: both;" />
        </div>
	</a>
}
