@using ZkData
@model ZkData.Clan

<div class="content">
    @if (Model.ClanID == 0)
    {
        <h1 class="center">Create New Clan</h1>
    }
    else
    {
        <h1 class="center">Update Clan</h1>
    }
    <div>
        <i class="fa fa-warning"></i> Clan settings should be consistent with the parent faction.
        <br />
        <br />
    </div>
    <form method="post" action="@Url.Action("SubmitCreate")" enctype="multipart/form-data">
        @Html.HiddenFor(x => x.ClanID)
        <input type="text" id="ClanName" name="ClanName" maxlength="50" placeholder="Clan Name" />
        <input type="text" id="Shortcut" name="Shortcut" maxlength="6" placeholder="Clan Tag" />
        @if (GlobalConst.CanChangeClanFaction || Model.ClanID == 0)
        {
            <label for="FactionID">Select a faction to join.</label>
            List<SelectListItem> factionList = new List<SelectListItem> { new SelectListItem { Text = "No Faction", Value = "0" } };
            factionList.AddRange(new ZkDataContext().Factions.Where(x => !x.IsDeleted).Shuffle().Select(
                x => new SelectListItem { Text = x.Name, Value = x.FactionID.ToString(), Selected = x.FactionID == Model.FactionID }));
            @Html.DropDownListFor(x => x.FactionID, factionList)
        }
        else
        {
            @Html.HiddenFor(x => x.FactionID)
        }
        <input type="text" id="Password" name="Password" maxlength="20" placeholder="Clan Password" />
        <div>
            <label for="image">Image (64x64 transparent png)</label>
            <input type="file" id="image" name="image" />
            <img src="@Model.GetImageUrl()" />
        </div>
        <div>
            <label for="bgimage">Background Image for the clan page</label>
            <input type="file" id="bgimage" name="bgimage" />
            <img src="@Model.GetBGImageUrl()" />
        </div>
        <textarea id="SecretTopic" name="SecretTopic" maxlength="500" placeholder="Internal Topic (not visible to those outside clan)"></textarea>
        <textarea id="Description" name="Description" maxlength="500" placeholder="Public Description"></textarea>
        <input type="submit" value="@(Model.ClanID == 0 ? "Create New Clan" : "Update Clan")" />
    </form>
</div>
